{% extends '/base.html' %}
{% block content%}
<h1>Product Details</h1>
<div class="card text-center">
  <div class="card-header">
      {{product.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <img src="{{product.image_url}}" class="card-img-top" alt="Product image">
    <a href="#" class="btn btn-primary">Order Now</a>
    <a href="{{product.delete_url}}" class="btn btn-danger">Delete Product</a>
  </div>
  <div class="card-footer text-body-secondary">
      {{product.price}}
  </div>
</div>
{% endblock %}